.main,
.flex_center {
  width: 50%;
  margin: 0 auto;
}

.flex__row {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.flex__row__labelCell {
  width: 150px;
}

.flex__row__inputCell {
  width: 210px;
}

.inputBox {
  width: 100%;
  background-color: var(--nav_background_secondary);
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
}

.inputBox:focus {
  outline: none;
}

.main__bottom {
  /* style={{ display: "flex", flexDirection: "column", margin: "0 auto", width: "100%", justifyContent: "center" }} */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
}

.loginBtn {
  width: 100px;
  padding: 5px 10px;
  text-align: center;
  border-radius: 10px;
  border: none;
  background-color: rgb(49, 75, 221);
  cursor: pointer;
  transition: 0.25s background-color;
  color: azure;
}

.loginBtn:hover {
  background-color: #4dbfe2;
}

.main__error {
  text-align: center;
  color: red;
  margin: 10px;
  text-shadow: 2px 2px 3px crimson;
}

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
