.main {
  margin-left: 300px;
  z-index: 1;
}

.main__child {
  display: flex;
  justify-content: center;
}

.main__search {
  display: flex;
  flex-direction: row;
}

.main__pagination {
  position: fixed;
  display: flex;
  bottom: 0;
  flex-direction: row;
  left: 50%;
  bottom: 3%;
}

.main__pagination__btn {
  font-size: 18px;
  padding: 10px 15px;
  margin: 0px 5px;
  border: none;
  background-color: var(--nav_background);
  color: azure;
  cursor: pointer;
  transition: 0.5s color, 0.5s background-color;
  border-radius: 8px;
}

.pagination_btn:hover {
  background-color: var(--nav_background_secondary);
  color: var(--font_color_basic);
}

.list {
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px 0px;
}
.main__search__input {
  margin: 15px auto;
  font-size: 20px;
  padding: 5px 15px;
  border: none;
}

.main__search__input:focus {
  background-color: var(--nav_background_secondary);
  outline: none;
}

.search_radio {
  padding: 20px;
}

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid var(--nav_background); /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
