.productlist {
  //   @apply ml-64 z-10;
  z-index: 10;
  margin-left: 15%;
  &__child {
    display: flex;
    justify-content: center;
    &__search {
      display: flex;
      flex-direction: row;
    }
    &__search__radio {
      padding: 20px;
    }
  }
  &__pagination {
    position: flex;
    display: flex;
    bottom: 0;
    flex-direction: row;
    left: 50%;
    bottom: 3%;
  }
}

.main__pagination__btn {
  font-size: 18px;
  padding: 10px 15px;
  margin: 0px 5px;
  border: none;
  background-color: var(--nav_background);
  color: azure;
  cursor: pointer;
  transition: 0.5s color, 0.5s background-color;
  border-radius: 8px;
}

.pagination_btn:hover {
  background-color: var(--nav_background_secondary);
  color: var(--font_color_basic);
}

.list {
  @apply gap-7 flex flex-row justify-center flex-wrap mx-auto mt-8 mb-16;
}

.main__search__input {
  @apply w-64 bg-teal-300 border-none rounded px-4 py-2 mt-4;
  transition: 0.5s color, 0.5s background-color;
}

.main__search__input:focus,
.main__search__input:hover {
  @apply outline-none bg-teal-600 text-teal-200;
}

.search_radio {
}

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid var(--nav_background); /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
