.main {
  margin-left: 300px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  margin: 40px 0px;
}

.list {
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px 0px;
  height: 600px;
}
