@tailwind base;

@layer base {
  .main {
    @apply w-2/3 mx-80 mt-28;
  }

  .dataCell {
    border: 1px solid;
    @apply text-center bg-teal-300 border-teal-900;
  }

  .dataHead {
    @apply bg-teal-700 text-teal-100 text-lg;
  }

  .cart_checkout_btn {
    width: 100%;
    height: 40px;
    @apply cursor-pointer bg-teal-800 font-bold text-teal-100 rounded-xl;
    transition: 0.25s background-color, 0.25s color;
  }

  .cart_checkout_btn:hover {
    @apply bg-teal-400 text-teal-800;
  }

  .cart_goback_btn {
    width: 100%;
    @apply cursor-pointer bg-teal-800 font-bold text-teal-100 rounded-xl p-3;
    transition: 0.25s background-color;
  }

  .cart_goback_btn:hover {
    @apply bg-teal-400 text-teal-800;
  }

  a {
    text-decoration: none;
    color: azure;
  }

  .confirmationMsg,
  .errorMsg {
    text-align: center;
    font-weight: bold;
  }
  .confirmationMsg {
    color: green;
  }

  .errorMsg {
    color: red;
  }

  .cart__crossBtn {
    transition: 0.25s background-color, 0.25s color;
    @apply text-teal-100 bg-red-600 cursor-pointer px-4 py-2;
  }

  .cart__crossBtn:hover {
    color: green;
    background-color: pink;
  }
}
