@tailwind base;

@layer base {
  .Cart {
    @apply w-2/3 mx-80 mt-28;
  }

  .Cart__dataCell {
    border: 1px solid;
    @apply text-center bg-teal-300 border-teal-900;
  }

  .Cart__dataHead {
    @apply bg-teal-700 text-teal-100 text-lg;
  }

  .Cart_checkOutBtn {
    width: 100%;
    height: 40px;
    @apply cursor-pointer bg-teal-800 font-bold text-teal-100 rounded-xl;
    transition: 0.25s background-color, 0.25s color;
  }

  .Cart_checkOutBtn:hover {
    @apply bg-teal-400 text-teal-800;
  }

  .Cart__goBackBtn {
    width: 100%;
    @apply cursor-pointer bg-teal-800 font-bold text-teal-100 rounded-xl p-3;
    transition: 0.25s background-color;
  }

  .Cart__goBackBtn:hover {
    @apply bg-teal-400 text-teal-800;
  }

  a {
    text-decoration: none;
    color: azure;
  }

  .Cart__confirmationMsg,
  .Cart__errorMsg {
    text-align: center;
    font-weight: bold;
  }
  .Cart__confirmationMsg {
    color: green;
  }

  .Cart__errorMsg {
    color: red;
  }

  .Cart__crossBtn {
    transition: 0.25s background-color, 0.25s color;
    @apply text-teal-100 bg-red-600 cursor-pointer px-4 py-2;
  }

  .Cart__crossBtn:hover {
    color: green;
    background-color: pink;
  }
  .loader {
    border-top: 10px solid;
    border: 10px solid;
    @apply border-teal-200 border-t-teal-800;
    border-radius: 50%;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
