$teal-dark: #0f766e;
$teal-medium: #14b8a6;
$teal-light: #99f6e4;
// $greeb-dark: #cdfff0;
$blue-dark: #1e3a8a;
// --nav_background: #558d67;
// --nav_background_secondary: #a1e7b3;
// --main_background: #cdfff0;
// --font_color_basic: #1b4d89;