// $teal-dark: #0f766e;
$teal-medium: #364b8c;
$teal-light: #99f6e4;
// $greeb-dark: #cdfff0;
$blue-dark: #1e3a8a;
// --nav_background: #558d67;
// --nav_background_secondary: #a1e7b3;
// --main_background: #cdfff0;
// --font_color_basic: #1b4d89;
$color-1-a: #2e3c83;
$color-1-b: #6271ba;
