.button {
  &-default {
    // background-color: blue;
    width: fit-content;
    // height: ;
    // background-color: rgb(187, 255, 172);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(121, 121, 121, 0.61);
    cursor: pointer;
    // background-color: blue;
    &:hover {
      background-color: rgb(225, 225, 225);
    }
  }
  &-accordion {
    padding: 5px 10px;
    width: 100%;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(121, 121, 121, 0.61);
    cursor: pointer;
    transition: background-color 0.25s;
    font-weight: bold;
    color: rgb(32, 36, 32);
    &:hover {
      background-color: rgb(225, 225, 225);
    }
  }
  &-navaccordion {
    @extend .button-accordion;
    background-color: rgb(187, 255, 172);
    text-transform: uppercase;
    color: green;
    &:hover {
      background-color: rgb(146, 255, 121);
    }
  }
}
