@use "styles/colors";

.cartpage {
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 7rem;
  width: 66.666667%;
  &__table {
    width: 100%;
    &__head {
      &__th {
        background-color: colors.$cyan-4;
        color: colors.$grey-1;
        font-size: 1.125rem;
        line-height: 1.75rem;
        outline-width: 1px;
        outline-color: colors.$grey-3;
        outline-style: solid;
        &--id {
          @extend .cartpage__table__head__th;
          width: 10%;
        }
        &--name {
          @extend .cartpage__table__head__th;
          width: 20%;
        }
        &--quantity {
          @extend .cartpage__table__head__th;
          width: 40%;
        }
        &--price {
          @extend .cartpage__table__head__th;
          width: 30%;
        }
      }
    }
    &__body {
      &__td {
        background-color: #93c5fd;
        text-align: center;
        outline-width: 1px;
        outline-color: #1e3a8a;
        outline-style: solid;
        color: colors.$grey-3;
        padding: 0.5rem 1.25rem;
      }
    }
  }
}

.cartbutton {
  display: inline-flex;
  padding: 0.25rem 0;
  width: 100%;
  margin: 0.25rem auto;
  background-color: #2563eb;
  color: #eff6ff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  border: none;
  outline-style: solid;
  outline-width: 1px;
  outline-color: colors.$grey-3;
  background-color: colors.$cyan-3;
  cursor: pointer;
  transition: 0.25s color, 0.25s background-color;
  text-decoration: none;
  &:hover {
    color: colors.$cyan-3;
    background-color: colors.$grey-1;
  }
}

.backbutton {
  padding: 0.75rem;
  background-color: #1e40af;
  transition-property: background-color, border-color, color, fill, stroke;
  color: #dbeafe;
  font-weight: 700;
  width: 100%;
  border-radius: 0.75rem;
  cursor: pointer;
}
