.paginateBtn {
  padding: 10px 15px;
  margin: 0 3px;
  cursor: pointer;
  background-color: #4a9fc0;
  border: none;
  transition: 0.25s background-color;
  border-radius: 5px;
}

.paginateBtn:hover {
  background-color: #62c6ee;
}
