.image {
  height: 260px;
  /* margin: 0 auto; */
}

.details {
  margin-left: 300px;
  width: 70%;
  display: flex;
  border: 1px solid green;
  &__data {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* padding-top: 50px; */
  }
  &__img {
    display: flex;
    justify-content: center;
    width: 50%;
  }
  &__dataCell {
    display: flex;
    flex-direction: row;
  }
  &__dataCell__left,
  &__dataCell__right {
    padding: 10px 0px;
    border: 1px solid green;
  }
  
  &__dataCell__left {
    width: 30%;
  }
  
  &__dataCell__right {
    width: 70%;
  }
}




