.sidebar {
  position: fixed;
  width: 20%;
  height: 100vh;
  // display: flex;
  // flex-direction: column;
  justify-content: center;
  background-color: rgb(227, 255, 220);
  transition: margin-left 0.5s;
}
