@use "styles/colors";

.productcard {
  display: flex;
  padding: 0.5rem 0;
  background-color: colors.$cyan-1;
  font-size: 0.75rem;
  line-height: 1rem;
  flex-direction: column;
  width: 15rem;
  border-radius: 0.5rem;
  outline-width: 1px;
  outline-color: colors.$cyan-3;
  outline-style: solid;
  box-shadow: 2px 2px 3px colors.$cyan-2;
  height: fit-content;
  &__img {
    display: flex;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    justify-content: center;
    height: 15vh;
    // width: 20vw;
    &__imgtag {
      // height: 100%;
      width: fit-content;
    }
  }
  &__name {
    display: flex;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    text-align: center;
    justify-content: center;
    outline-color: colors.$cyan-3;
    outline-style: solid;
    outline-width: 1px;
    font-weight: bold;
    background-color: colors.$grey-1;
  }
  &__weightprice {
    display: flex;
    width: 100%;
    background-color: colors.$grey-1;
    &__price,
    &__weight {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      text-align: center;
      width: 50%;
      outline-color: colors.$cyan-3;
      outline-style: solid;
      outline-width: 1px;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__button {
      display: inline-flex;
      padding: 0.25rem 0;
      width: 50%;
      margin: 0.25rem auto;
      background-color: #2563eb;
      color: #eff6ff;
      font-size: 0.875rem;
      line-height: 1.25rem;
      text-align: center;
      justify-content: center;
      align-items: center;
      // width: 6rem;
      border-radius: 0.25rem;
      border: none;
      outline-style: solid;
      outline-width: 1px;
      outline-color: colors.$grey-3;
      background-color: colors.$cyan-3;
      cursor: pointer;
      transition: 0.25s color, 0.25s background-color;
      text-decoration: none;
      &:hover {
        color: colors.$cyan-3;
        background-color: colors.$grey-1;
      }
    }
  }
}
