@tailwind base;

@layer base {
  .main {
    @apply bg-teal-200 rounded-lg w-64 flex flex-col shadow-teal-600;
    box-shadow: 3px 5px 5px #0d9488;
  }

  .main__child {
    @apply flex justify-center my-3;
  }

  img {
    height: 180px;
    @apply h-48;
  }

  .card__btnSection {
    @apply flex flex-col justify-center;
  }

  .card__add {
    @apply w-24 h-10 bg-teal-600 border-none cursor-pointer text-teal-100 rounded-xl mx-auto my-1 text-center inline-flex justify-center items-center;
    transition: 0.5s background-color, 0.5s color;
  }

  .card__add:hover {
    @apply bg-teal-50 text-teal-600;
  }
}
