:root {
  --nav_background: #558d67;
  --nav_background_secondary: #a1e7b3;
  --main_background: #cdfff0;
  --font_color_basic: #1b4d89;
}

body {
  background-size: contain;
  background-blend-mode: multiply;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
