:root {
  --nav_background: #558d67;
  --nav_background_secondary: #a1e7b3;
  --main_background: #cdfff0;
  --font_color_basic: #1b4d89;
}

body {
  background-color: var(--main_background);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
