@tailwind base;

@layer base {
  .main {
    @apply flex bg-teal-900 sticky top-0 h-28;
    box-shadow: 5px 3px 10px rgb(13, 148, 136);
  }

  .cart__container {
    @apply w-1/2 flex justify-end;
  }

  .cart__btn {
    @apply transition-colors bg-teal-400 text-teal-900 flex items-center justify-center w-5 h-12 no-underline text-center m-5 rounded-3xl bg-cover bg-center;
    min-width: 50px;
    border: 2px solid azure;
  }

  .cart__btn:hover {
    @apply bg-teal-50;
  }

  .image__container {
    @apply w-1/2 flex justify-end;
  }

  .image {
    height: 80px;
  }
}
