@use "../../styles/colors";

.header {
  background-color: colors.$teal-dark; 
  position: sticky;
  display: flex;
  top: 0;
  height: 12vh;
  // @apply flex bg-teal-900 sticky top-0 h-28;
  box-shadow: 5px 3px 10px rgb(13, 148, 136);

  &__col {
    // @apply w-1/2 flex justify-end;
    width: 50%;
    display: flex;
    justify-content: end;
  }

  &__col__image{
    height: 70px;
    // float: inline-end;
    // right: 0;
  }

}


.header__btn {
  // @apply transition-colors bg-teal-400 text-teal-900 flex items-center justify-center w-5 h-12 no-underline text-center m-5 rounded-3xl bg-cover bg-center;
  min-width: 50px;
  border: 2px solid azure;
}

.header__btn:hover {
  // @apply bg-teal-50;
}
