.main {
  display: flex;
  /* justify-content: center; */
  height: 100px;
  background-color: var(--nav_background);
  position: sticky;
  top: 0;
}
.cart_container {
  width: 50%;
  display: flex;
  justify-content: right;
}

.cart_btn {
  min-width: 50px;
  min-height: 50px;
  height: fit-content;
  text-decoration: none;
  text-align: center;
  background-image: url("https://www.freeiconspng.com/uploads/basket-cart-icon-27.png");
  background-size: contain;
  background-color: var(--nav_background_secondary);
  margin: 10px;
  border: 2px solid azure;
}
.image_container {
  width: 50%;
  display: flex;
  justify-content: right;
}
.image {
  height: 80px;
}
