.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  &_pane {
    max-height: 0px;
    overflow: hidden;
    flex-direction: column;
    transition: max-height 0.25s;
    &_button {
      font-weight: bold;
    }
    &_button-nav {
      color: green;
      cursor: pointer;
    }
  }
  &_pane-open {
    display: flex;
  }
}
