@tailwind base;

@layer base {
  /* .Form {
    @apply flex flex-row justify-center w-3/4 my-0 mx-auto text-center;
  }
  .Form__container {
    @apply flex flex-col w-full;
  }

  .Form__input {
    @apply w-1/2 my-5 bg-teal-300  mx-auto p-5 rounded-xl border-none;
  }

  .Form__input:focus,
  .Form__input:hover {
    @apply outline-none bg-teal-600 text-teal-200;
  }

  .Form__loginBtn {
    @apply w-32 text-center rounded-lg bg-teal-700 cursor-pointer px-5 py-2 text-teal-100 font-mono font-bold text-lg mx-auto;
    transition: 0.5s color, 0.5s background-color;
  }
  .Form__loginBtn:hover {
    @apply bg-teal-500 text-teal-900;
  }
  .Form__imageInput {
    @apply w-1/2 my-5 mx-auto p-5 rounded-xl border-none;
  }
  .Form__error {
    @apply text-red-500 text-center;
    text-shadow: 0px 1px 3px crimson;
  }

  .Form__success {
    @apply text-green-600 text-center;
    text-shadow: 0px 1px 3px lime;
  } */
}
