@use "../../styles/colors";

.productlist {
  z-index: 10;
  margin-left: 15%;
  width: 80%;
  &__child {
    display: flex;
    justify-content: center;
    &__search {
      display: flex;
      flex-direction: row;
      &__input {
        height: 2.5rem;
        width: 90%;
        background-color: colors.$color-1-a;
        border: none;
        border-radius: 0.75rem;
        padding: 0.25rem 0.75rem;
        transition: 0.5s color, 0.5s background-color;
        margin-top: 0.75rem;
      }
      &__input:focus,
      &__input:hover {
        outline: none;
        background-color: colors.$color-1-b;
        color: colors.$color-1-a;
      }
      &__radio {
        padding: 20px;
        display: flex;
        flex-direction: column;
      }
    }
  }
  &__list {
    gap: 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem auto 4rem auto;
    z-index: 8;
  }
  &__pagination {
    position: fixed;
    background-color: rgba(49, 49, 49, 0.507);
    border-radius: 0.25rem;
    width: 75%;
    z-index: 5;
    display: flex;
    justify-content: center;
    bottom: 0;
    flex-direction: row;
    bottom: 1%;
    &__btn {
      font-size: 18px;
      padding: 10px 15px;
      margin: 0px 5px;
      border: none;
      // background-color: var(--nav_background);
      background-color: colors.$color-1-a;
      color: azure;
      cursor: pointer;
      transition: 0.5s color, 0.5s background-color;
      border-radius: 8px;
    }
    &__btn:hover {
      background-color: var(--nav_background_secondary);
      color: var(--font_color_basic);
    }
  }
}
