@use "styles/colors";

.productspage {
  z-index: 10;
  margin-left: 15%;
  width: 80%;
  &__card {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
  }
}

.productspagination {
  display: flex;
  position: fixed;
  bottom: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
  background: rgba(177, 177, 177, 0.5);
  z-index: 2;
  &__btn {
    outline-width: 1px;
    outline-color: #52525b;
    outline-style: solid;
    border: none;
    background-color: colors.$cyan-1;
    color: colors.$cyan-4;
    cursor: pointer;
    transition: 0.25s color, 0.25s background-color;
    // font-size: rem;
    padding: 0.25rem 0.75rem;
    &:hover {
      color: colors.$cyan-1;
      background-color: colors.$cyan-4;
    }
    &--active {
      color: colors.$cyan-1;
      background-color: colors.$cyan-4;
    }
  }
}
